@media (min-width : 1130px){
    .menubarBody{
        width: 1130px;
        margin: 35px auto;
    }
    .menubarBody button{
        margin-right: 0px !important;
    }
    .logo {
        margin-left: 0px !important;
    }
}

/* menubar 로고*/
.logo{
    font-family: 'OpenSans-Bold';
    font-size: 35px;
    cursor: pointer;
    margin-left: 70px;
}

.menubarBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px auto;
}

.menubarBody ul li{
    font-size: 18px;
    font-family: 'OpenSans-Regular';
}

.menubarBody li{
    display: inline-block;
    padding: 0px 20px;
}

.menubarBody li a {
    color: black;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.menubarBody li a:hover {
    color: #0085A1;
}

.menubarBody button {
    font-size: 18px;
    background-color: #0085A1;
    width: 170px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-right: 70px;
}

.menubarBody button:hover{
    background-color: white;
    border: solid;
    border-color: #0085A1;
    color: #0085A1;
}